@tailwind base;
@tailwind components;
@tailwind utilities;

.form-style {
  @apply p-5 bg-white border-[1px] border-black border-opacity-20 w-[350px] flex flex-col rounded-lg items-center justify-center;
}

.form-input-field-style {
  @apply p-2 w-full flex flex-col;
}

.form-input-style {
  @apply bg-transparent w-full p-2 rounded-md placeholder:text-black placeholder:text-opacity-70 font-light focus:outline-none focus:ring border-[1px] border-black border-opacity-40;
}

.form-label-style {
  @apply font-semibold text-start text-lg;
}

.form-button {
  @apply w-[100px] p-2 rounded-md font-bold mt-2;
}

.card-bg-color-2 {
    background: linear-gradient(300deg, #f9bc2c 0%, #fc506e 100%);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
  }
  
  .card-bg-color-1 {
    background: linear-gradient(300deg,#f74c06,#f9bc2c);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }